# Ignore all hidden files exept these.
.*
/var
!.github
!/.gitignore
!/.gitattributes
!/.editorconfig
!.gitkeep
.code
.class-alias-map-generator
composer.lock
# Other ignored paths and files.
/vendor
