# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# Set syntax highlight on GitHub
# https://github.com/github/linguist/blob/master/lib/linguist/languages.yml
*.neon linguist-language=YAML

# Remove files for archives generated using `git archive`
.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.phpstorm.meta.php export-ignore
/bin/typo3-rector export-ignore
/bin/typo3-rector.php export-ignore
/stubs export-ignore
LICENSE export-ignore
ecs.php export-ignore
phpstan.neon export-ignore
phpstan-baseline.neon export-ignore
phpunit.xml export-ignore
rector.php export-ignore
tests export-ignore
utils/composer-packages export-ignore
utils/generator export-ignore
utils/phpstan/tests export-ignore
utils/rules export-ignore
