# Auto detect text files and perform LF normalization
* text=auto
*.php diff=php

# Ignore from prefer-dist install
## Files
.* export-ignore
*.md export-ignore
## Folders
/.github export-ignore
/stubs export-ignore
/tests export-ignore
