# Ignore all hidden files exept these.
.*
!.github
!/.gitignore
!/.gitattributes
!/.editorconfig
!/.php_cs.dist
!/.travis.yml
!.gitkeep
!.code
.code/*
!.code/.gitkeep
composer.lock
# Other ignored paths and files.
/vendor
