# Ignore all hidden files exept these.
.*
/var
!.dockerignore
!.github
!/.gitignore
!/.gitattributes
!/.editorconfig
!.gitkeep
!.phpstorm.meta.php
.code
.class-alias-map-generator
.tca-migrations-generator
composer.lock
# Other ignored paths and files.
/vendor
php-scoper.phar
typo3-rector-scoped
