<?php

$finder = PhpCsFixer\Finder::create()
    ->files()
    ->name('*.php')
    ->name('*.inc')
    ->in([__DIR__ . '/src']);

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'class_definition' => ['singleLine' => false, 'singleItemSingleLine' => true],
        'concat_space' => ['spacing' => 'one'],
        'general_phpdoc_annotation_remove' => ['author'],
        'ordered_class_elements' => true,
        'ordered_imports' => true,
        'phpdoc_align' => false,
        'phpdoc_annotation_without_dot' => false,
        'phpdoc_indent' => false,
        'phpdoc_inline_tag' => false,
        'phpdoc_order' => true,
        // Disabled because fluent setters return type in an interface can not be self.
        'self_accessor' => false,
        'void_return' => true,
    ])
    ->setFinder($finder);
