parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$stmt of method Rector\\\\Core\\\\PhpParser\\\\Node\\\\Manipulator\\\\ClassInsertManipulator\\:\\:addAsFirstMethod\\(\\) expects PhpParser\\\\Node\\\\Stmt\\\\ClassConst\\|PhpParser\\\\Node\\\\Stmt\\\\ClassMethod\\|PhpParser\\\\Node\\\\Stmt\\\\Property, PhpParser\\\\Node\\\\Stmt\\\\Nop given\\.$#"
			count: 1
			path: src/Rector/v10/v2/InjectEnvironmentServiceIfNeededInResponseRector.php

		-
			message: "#^Method Ssch\\\\TYPO3Rector\\\\Set\\\\Typo3RectorSetProvider\\:\\:hydrateSetsFromConstants\\(\\) has parameter \\$setListReflectionClass with generic class ReflectionClass but does not specify its types\\: T$#"
			count: 1
			path: src/Set/Typo3RectorSetProvider.php

