includes:
    # see https://github.com/symplify/phpstan-extensions
    - vendor/symplify/phpstan-extensions/config/config.neon
    - utils/phpstan/config/typo3-rector.neon

parameters:
    level: 8

    paths:
        - src
        - config
        - tests

    bootstrapFiles:
         - tests/bootstrap.php

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false

    checkGenericClassInNonGenericObjectType: false

    excludePaths:
        # should be included in Rector core
        - src/Renaming/NodeManipulator/ClassRenamer.php

    ignoreErrors:
        - '#Cannot access property \$value on bool\|float\|int\|string#'
        - '#Parameter \#2 \$stmt of method Rector\\Core\\NodeManipulator\\ClassInsertManipulator\:\:addAsFirstMethod\(\) expects PhpParser\\Node\\Stmt\\ClassConst\|PhpParser\\Node\\Stmt\\ClassMethod\|PhpParser\\Node\\Stmt\\Property, PhpParser\\Node\\Stmt\\Nop given#'
