includes:
    # see https://github.com/symplify/phpstan-extensions
    - vendor/symplify/phpstan-extensions/config/config.neon
    - utils/phpstan/config/typo3-rector.neon
    - phpstan-baseline.neon

parameters:
    level: 8

    paths:
        - src
        - config
        - tests

    bootstrapFiles:
         - tests/bootstrap.php

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Function Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\ref not found#'
        - '#Function Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\service not found#'
        - '#Used function Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\ref not found#'
        - '#Used function Symfony\\Component\\DependencyInjection\\Loader\\Configurator\\service not found#'
