name: Code Analysis

on:
    pull_request: null
    push:
        branches:
            - "main"

env:
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-main"

jobs:
    code_analysis:
        strategy:
            fail-fast: false
            matrix:
                php-versions: [ 7.4, 8.0, 8.1 ]
                actions:
                    -
                        name: "PHP Linter"
                        run: vendor/bin/parallel-lint src config tests

                    -
                        name: 'Composer Validate'
                        run: composer validate --ansi

                    -
                        name: 'Tests'
                        run: vendor/bin/phpunit

                    -
                        name: 'Check TYPO3 Rector configs'
                        run: composer check-typo3-rector

                    -
                        name: 'PHPStan'
                        run: composer analyze

        name: ${{ matrix.actions.name }}
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            # see https://github.com/shivammathur/setup-php
            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}
                    coverage: none

            -   uses: "ramsey/composer-install@v2"

            -   run: ${{ matrix.actions.run }}
