name: Code Analysis

on:
  pull_request: null
  push:
    branches:
      - "main"

env:
  # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
  COMPOSER_ROOT_VERSION: "dev-main"

jobs:
  code_analysis:
    strategy:
      fail-fast: true
      matrix:
        php-versions: [ 7.4, 8.0, 8.1, 8.2, 8.3, 8.4 ]
        actions:
          - name: "PHP Linter"
            run: "composer ci:php:lint"

          - name: 'Composer Validate'
            run: composer validate --strict --ansi

          - name: 'Tests'
            run: vendor/bin/phpunit

          - name: 'Check TYPO3 Rector configs'
            run: "composer ci:check-typo3-rector"

          - name: 'PHPStan'
            run: "composer ci:php:stan"

    name: "${{ matrix.php-versions }} ${{ matrix.actions.name }}"
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      # see https://github.com/shivammathur/setup-php
      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none

      # see https://github.com/ramsey/composer-install
      - name: "Install Composer dependencies"
        uses: ramsey/composer-install@v3

      - name: "Run command"
        run: ${{ matrix.actions.run }}
