name: Docs

on:
    push:
        branches:
            - "main"

env:
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-main"

jobs:
    docs:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none
                env:
                    COMPOSER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            # see https://github.com/ramsey/composer-install
            -   uses: "ramsey/composer-install@v2"

            -   name: Install rule doc generator
                run: composer require symplify/rule-doc-generator --with-all-dependencies

            -   name: Generate documentation
                run: composer docs

            -   name: Deinstall rule doc generator
                run: composer remove symplify/rule-doc-generator

            -   uses: stefanzweifel/git-auto-commit-action@v4.15.3
                with:
                    commit_message: '[DOCS] Generate documentation'
                    commit_options: '--no-verify --signoff'
                    branch: "main"
                    push_options: '--force'
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
