name: Rector

on:
    pull_request: null
    push:
        branches:
            - master

jobs:
    rector:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            -   id: composer-cache
                run: echo "::set-output name=dir::$(composer config cache-files-dir)"
            -   uses: actions/cache@v1
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-composer-
            -   uses: shivammathur/setup-php@v1
                with:
                    php-version: 7.2
                    coverage: none
            -   run: composer install --no-progress
            -   run: composer rector
